body {
    background-color: #f4eaea;
}

header {
    background-color: white;
}

.logo {
    width: 200px;
}

nav a {
    text-align: center;
    color: #302403;
    text-decoration: none;
}

nav a:hover {
    background-color: #AC7E0E;
    color: white;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.home-title {
    color: #302403;
}

h4 {
    color: #302403;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: brown;
    color: #302403;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: burlywood;
    color: #302403;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

main section {
    text-align: center;
}

.icon {
    width: 80px;
}

#background {
    height: 725px;
    background-color: yellow;
}

.msg {
    background-color: coral;
}

.msg h2 {
    color: #302403;
}

.msg p {
    color: #302403;
}

footer {
    background-color: darkgreen;
}

footer p {
    font-size: 1.2em;
}       

footer p a:hover {
    text-decoration: underline;
}  

footer a {
    color: #302403;
    text-decoration: none;
}

footer a:hover {
    color: #AC7E0E;
}